<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>alkometri purkka edition</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=yes"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    </head>
    <style>body {background-color: #1b1c1d}</style>
<body>
<p></p>
<div class="ui container">
        <div class="ui fluid segment">
                <h1 align="center">Elite Dekkerz Alkometri</h1>
                <a class="ui huge red label">
                    <i class="beer icon"></i>all time total : {{ total }}
                </a>
              </div>
            <div class="ui link cards">
                  {% for alcoholic in scores %}
                    <div class="card">
                      <div class="image">
                        <img src="/static/alkometri/{{ alcoholic["name"] }}/{{ alcoholic["last"]["file"] }}">
                      </div>
                      <div class="content">
                        <div class="header">{{ alcoholic["name"] }}</div>
                      </div>
                      <div class="extra content">
                        <span>
                          <i class="large beer icon"></i>
                          {{ alcoholic["count"] }}
                        </span>
                      </div>
                    </div>
                  {% endfor %}
            </div>
</div>
</body>
